<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>VitalNest</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body style="background-color: rgb(182, 196, 201);" class = "admin_background_image">
    <h1 class="admin_user_approval_card_heading">Vital Nest Admin Dashboard - <%= admin_id %></h1>
    <hr />
    <div>
        <h2 style="text-align: center;">Users data</h2>
        <table border="1" cellpadding="5" cellspacing="0" style="margin: auto;">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Aadhar</th>
                    <th>Mobile Number</th>
                    <th>User Type</th>
                    <th>Request timestamp</th>
                    <th>Take Action</th>
                </tr>
            </thead>
            <tbody>
                <% for(record of approval_data) { %>
                <tr>
                    <td><%- record.name %></td>
                    <td><%- record.aadhar %></td>
                    <td><%- record.mobile %></td>
                    <td><%- record.user_type %></td>
                    <td><%- record.request_timestamp %></td>
                    <td>
                        <form action="/approveUser" method="post">
                            <input type="hidden" name="name" value="<%- record.name %>" />
                            <input type="hidden" name="aadhar" value="<%- record.aadhar %>" />
                            <input type="hidden" name="mobile" value="<%- record.mobile %>" />
                            <input type="hidden" name="type" value="<%- record.user_type %>" />
                            <input type="hidden" name="passwd" value="<%- record.passwd %>" />
                            <button
                                class="admin_user_approval_card_accept_button_design"
                                type="submit"
                                name="action"
                                value="approve"
                            >
                                Approve
                            </button>
                            <button
                                class="admin_user_approval_card_reject_button_design"
                                type="submit"
                                name="action"
                                value="reject"
                            >
                                Reject
                            </button>
                        </form>
                    </td>
                </tr>
                <% } %>
            </tbody>
        </table>
    </div>
    <hr />
    <div>
        <h2 style="text-align: center;">Search for Patient Records log Data</h2>
        <div class="admin_patient_record_card_design">
            <form action="/patientRecordsLogData" method="post">
                <label for="aadhar">Patient ID (Aadhar):</label><br />
                <input
                    type="text"
                    id="p_id"
                    name="aadhar"
                    pattern="\d{12}"
                    maxlength="12"
                    minlength="12"
                    required
                /><br /><br />
                <input class="admin_patient_record_button_design" type="submit" value="Submit" />
            </form>
        </div>
    </div>
    <hr />
    <div>
        <h2 style="text-align: center;">Users data</h2>
        <table border="1" cellpadding="5" cellspacing="0" style="margin: auto;">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Aadhar</th>
                    <th>Mobile Number</th>
                    <th>User Type</th>
                </tr>
            </thead>
            <tbody>
                <% for(user of users) { %>
                <tr>
                    <td><%= user.name %></td>
                    <td><%= user.aadhar %></td>
                    <td><%= user.mobile %></td>
                    <td><%= user.user_type %></td>
                </tr>
                <% } %>
            </tbody>
        </table>
    </div>
    <hr />
    <div>
        <h2 style="text-align: center;">Inventory Data</h2>
        <table border="1" cellpadding="5" cellspacing="0" style="margin: auto;">
            <thead>
                <tr>
                    <th>Supplier ID</th>
                    <th>Quantity</th>
                    <th>Item</th>
                    <th>Price Per Unit</th>
                    <th>Supplied Timestamp</th>
                    <th>HSP ID</th>
                    <th>Type of Product</th>
                    <th>IND ID</th>
                </tr>
            </thead>
            <tbody>
                <% supply.forEach(inventory => { %>
                <tr>
                    <td><%= inventory[0] %></td>
                    <td><%= inventory[1] %></td>
                    <td><%= inventory[2] %></td>
                    <td><%= inventory[3] %></td>
                    <td><%= inventory[4] %></td>
                    <td><%= inventory[5] %></td>
                    <td><%= inventory[6] %></td>
                    <td><%= inventory[7] %></td>
                </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
    <hr />
    <div>
        <h2 style="text-align: center;">Data Records</h2>
        <table border="1" cellpadding="5" cellspacing="0" style="margin: auto;">
            <thead>
                <tr>
                    <th>HSP ID</th>
                    <th>Supplier ID</th>
                    <th>IND ID</th>
                </tr>
            </thead>
            <tbody>
                <% hsp_data.forEach(record => { %>
                <tr>
                    <td><%= record[0] %></td>
                    <td><%= record[1] %></td>
                    <td><%= record[2] %></td>
                </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
    <hr />
    <div>
        <h2>Log Data</h2>
        <table border="1" cellpadding="5" cellspacing="0" style="margin:center;">
            <thead>
                <tr>
                    <th>Aadhar</th>
                    <th>Log Time Stamp</th>
                </tr>
            </thead>
            <tbody>
                <% logs.forEach(log => { %>
                <tr>
                    <td><%= log.aadhar %></td>
                    <td><%= log.log_timestamp %></td>
                </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
</body>
</html>
