<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crowdfunding Demands</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body class="view_crowd_funding_backgroung_image">
    <h2 class="view_crowd_funding_main_heading">Crowdfunding Demands</h2>
    <table border="1.5" cellpadding="15" cellspacing="0" style="margin: auto; ">
        <thead style="background-color:rgb(218, 250, 235); color:rgb(63, 91, 115) ;">
            <tr>
                <th>Patient ID</th>
                <th>Total Demand</th>
                <th>Required Donation</th>
                <th>Amount Received</th>
                <th>Date of Register</th>
            </tr>
        </thead>
        <tbody style="background-color: white;">
            <% demands.forEach(demand => { %>
            <tr>
                <td><%= demand.p_id %></td>
                <td><%= demand.total_demand %></td>
                <td><%= demand.required_donation %></td>
                <td><%= demand.amount_received %></td>
                <td><%= demand.date_of_register %></td>
            </tr>
            <% }) %>
        </tbody>
    </table>
    <br>
</body>
</html>
