<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title >Patient Bills</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body  style="background-color:#ebf9fa;">
    <h2 class="admin_user_approval_card_heading">Patient Bills for Hospital <%= hsp_id %></h2>
    <table border="1.5" cellpadding="15" cellspacing="0" style="margin: auto; background-color: rgb(250, 240, 255);">
        <thead>
            <tr>
                <th>Patient ID</th>
                <th>Date of Purchase</th>
                <th>Item</th>
                <th>Quantity</th>
                <th>Hospital ID</th>
            </tr>
        </thead>
        <tbody  style="background-color: white;">
            <% bills.forEach(bill => { %>
            <tr>
                <td><%= bill.p_id %></td>
                <td><%= bill.dop %></td>
                <td><%= bill.item %></td>
                <td><%= bill.quantity %></td>
                <td><%= bill.hsp_id %></td>
            </tr>
            <% }) %>
        </tbody>
    </table>
    <br>
    <a href="/login">Back to Dashboard</a>
</body>
</html>
